@import '../../styles/colors';

button.disclose {
  margin-bottom: 0;
  margin-right: 4px;
  border: none;
  background: none;
  padding: 0;
  outline: none;
  transition: transform 0.5s ease;
  cursor: pointer;

  &.checked {
    transform: rotate(90deg);
  }

  > .svg-icon {
    > svg {
      width: 20px;
      height: 20px;
    }
  }
}
