@import '../styles/colors';
@import '../styles/fonts';

body {
  display: flex;
  align-items: stretch;
  font: $bodyFont;
  font-size: medium;
  background-color: $contentBg;
  margin: 0;
}

#react-root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
}
