@import './colors';

.card {
  background: $cardBg;
  border: 1px solid $cardBorder;
  box-shadow: 0px 2px 3px 0 $cardShadow;
  margin: 8px;

  &.settings {
    margin: 0;
    padding: 8px;
  }

  &.internal {
    background: $internalCardBg;
    border: 1px solid $internalCardBorder;
    box-shadow: 0px 1px 2px 0 $cardShadow;
    margin: 0 0 8px 0;

    &:last-child {
      margin-bottom: 0;
    }

    > .title {
      margin: 0 8px;
    }
  }

  > header {
    background-color: $cardHeaderBg;
    border-bottom: 1px solid $cardHeaderDividerColor;
    box-shadow: 0px 2px 2px 0 $cardShadow;
    padding: 5px 7px;
    font-weight: bold;
  }

  > footer {
    background-color: $cardHeaderBg;
    border-top: 1px solid $cardFooterDividerColor;
    padding: 8px;
    align-items: center;
  }

  &.accented > header {
    padding: 8px;
    background-color: $cardHeaderBg;
    color: $textDarkAccent;
  }

  > .body {
    padding: 8px;
  }

  // TODO: Move this. Maybe even don't use tables?
  thead {
    background-color: $cardHeaderBg;
    border-bottom: 1px solid $cardHeaderDividerColor;
    box-shadow: 0px 3px 2px 0 $cardShadow;
  }
}
