$bodyFontFamily: 'Ubuntu', sans-serif;
$bodyFont: 400 .9rem $bodyFontFamily;
$titleFont: 400 1.3rem 'Russo One', sans-serif;
$headerFont: 700 1.2rem $bodyFontFamily;
$buttonFont: 400 17px $bodyFontFamily;
