@import './colors';
@import './fonts';

.kdt.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.kdt.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 12px;
  overflow-y: auto;

  > header {
    display: flex;
    align-items: center;
    font: $headerFont;
    font-size: 2rem;
    justify-content: space-between;
    margin-bottom: 8px;
    flex-shrink: 0;
  }

  .nav.nav-tabs {
    position: relative;
    top: 1px;
    z-index: 1;
  }
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  margin: 10% auto;

  .modal-header h4 {
    font-weight: bold;
  }

  p {
    font-size: 1.6rem;
  }
}

.empty-list {
  margin: 1rem 2rem;
  font-style: italic;
}
