@import './colors';

table {
  &.fullwidth {
    width: 100%;
  }
}

td, th {
  &.center {
    text-align: center;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }

  &.pad {
    padding: 8px 7px 8px 7px;
  }
}
