@import '../../styles/colors';

.kdt.label-list {
  flex: 1;
  overflow-y: auto;

  .no-labels {
    margin: 1rem 2rem;
    font-style: italic;
  }

  table {
    thead {
      th {
        padding: 4px 1rem;
      }
    }

    tbody {
      border-bottom: 3px solid transparent;
      > tr > td {
        padding-top: 3px;
      }
      > tr:last-child > td {
        padding-bottom: 3px;
      }
    }

    td.label-id {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    td.visible {
      padding: 5px 8px 0 8px;
    }

    td {
      vertical-align: middle;
    }

    .actions {
      width: 1%;
      white-space: nowrap;
      button {
        margin: 3px 3px 0 3px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 8px;
        }
      }
    }
  }
}
