@import '../../styles/colors';
@import '../../styles/fonts';

.kdt.issue-details {
  flex: 1;
  display: flex;
  align-items: stretch;
  overflow-x: hidden;

  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-x: hidden;

    header {
      display: flex;
      align-items: center;
      padding: 6px;
      white-space: nowrap;

      > .issue-up {
        align-self: stretch;
      }

      > .issue-id {
        font-size: 120%;
        margin-left: 8px;
      }

      > .summary {
        font-size: 120%;
        overflow-x: hidden;
        margin-left: 8px;
        text-overflow: ellipsis;
      }

      > .stretch {
        flex: 1;
        > .issue-type {
          display: inline-block;
          padding: 4px 10px;
          border-radius: 4px;
          margin-left: 8px;
          margin-right: 8px;
        }
      }

      > .issue-actions, .issue-nav {
        margin-left: 6px;
        display: flex;
        align-items: stretch;
        align-self: stretch;
      }
    }

    > .content {
      display: flex;
      padding: 8px 8px 8px 0;
      overflow-y: auto;
      flex: 1;

      .descr {
        code {
          white-space: pre;
        }
      }

      > .left {
        flex: 8;
        margin-right: 4px;
        overflow-y: auto;
        flex-basis: auto;
      }

      > .right {
        flex: 1;
        border: 1px solid $bg1;
        margin: 4px;
        padding: 8px;
        overflow-y: auto;
        flex-basis: auto;
      }
    }

    .create-issue-table {
      td {
        line-height: 1.4em;
      }
      th {
        min-width: 14rem;
        line-height: 1.4em;
      }
      th.labels {
        line-height: 1.5em;
      }
      th.linked {
        line-height: 2.4em;
      }
      th.history {
        line-height: 1.7em;
      }
    }

    .user-name {
      display: block;
      .full {
        font-weight: bold;
      }
    }

    .label-name {
      display: inline-block;
      line-height: 1.3em;
      margin: 4px 4px 4px 0;
    }

    .unassigned {
      font-style: italic;
      color: $textDarkDisabled;
    }

    .field-change-list {
      .user-name {
        display: inline-block;
      }
    }
  }
}
