@import '../../styles/colors';
@import '../../styles/fonts';

.kdt.issue-list {
  flex: 1;
  overflow-y: auto;

  .issue-group > header {
    margin: 8px 0;
    .value {
      font-weight: bold;
    }

    .unassigned {
      font-style: italic;
      color: $textDarkDisabled;
    }
  }

  .card {
    margin: 0;

    > .no-issues {
      margin: 1rem 2rem;
      font-style: italic;
    }

    > .issue {
      width: 100%;

      tbody {
        border-bottom: 4px solid transparent;
        tr:nth-child(even) {
          background: lighten($bg0, 2%);
        }
      }

      th {
        font-size: 90%;
      }

      td, th {
        border-right: 1px solid lighten($cardBorder, 12%);
        border-collapse: collapse;
        vertical-align: top;
        &:last-child {
          border-right: none;
        }
        vertical-align: top;
        a {
          padding: 5px 7px;
          display: block;
          text-decoration: none;
          color: $textDark;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      td.id {
        padding-top: 3px;
      }

      td.type {
        > span {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
          padding: 4px 9px 5px 9px;
          margin: 4px 4px 0;
          vertical-align: middle;
          line-height: 1.2em;
        }
      }

      th {
        padding: 0;
        vertical-align: middle;
        position: relative;
        white-space: nowrap;
        button {
          width: 100%;
          background-color: transparent;
          border: none;
          outline: none;
          box-shadow: none;
          > .sort {
            display: inline-block;
            width: 12px;
            color: desaturate(lighten($bg6, 25%), 20%);
            margin-right: 4px;
          }
        }
        button.sort {
          margin: 0 0 0 6px;
        }
      }

      th.summary {
        > section {
          display: flex;
        }

        li {
          padding-left: 16px;
          position: relative;
          > a {
            text-decoration: none;
          }
          &.disabled {
            > a {
              color: lighten($textDark, 30%);
            }
          }
          &.checked:before {
            position: absolute;
            left: 9px;
            top: 6px;
            content: "\2713";
          }
        }
      }

      .selected, .id, .type, .state, .owner, .created, .updated {
        text-align: center;
        white-space: nowrap;
      }

      .type, .owner, .reporter, .state, .created, .updated {
        min-width: 11rem;
      }

      .date {
        white-space: nowrap;
      }

      .selected {
        padding: 0;
        > label {
          padding: 9px 8px 0 8px;
          > input {
            padding: 0;
          }
        }
      }

      .title {
        text-align: left;
      }

      .title {
        .summary {
          font-weight: bold;
        }
        > a.child {
          position: relative;
        }
        > a.child:before {
          position: absolute;
          left: -14px;
          content: "\21D2";
          color: lighten($textDarkDisabled, 20%);
        }
      }

      .unassigned {
        font-style: italic;
        color: lighten($textDarkDisabled, 20%);
      }

      .title {
        width: 80%;

        > a {
          padding-top: 8px;

          > .tag {
            display: inline-block;
            font-size: 80%;
            margin: 0 3px;
            padding: px 9px;
            background-color: $bg1;
            border-radius: 9px;
            color: $bg9;
          }
        }
      }
    }
  }
}
